.section-1 h2 {font-weight: 300;}
.section-1 h2 > b {font-weight: 500;}
.section-type-1 {padding: 0 0 120px; color: #282828;}
.section-type-1 h2 {
	font-size: 44px;
	line-height: 1.3;
	font-weight: 400;
	word-break: keep-all;
}
.section-type-1 p {
	font-size: 18px;
	line-height: 1.79;
	font-weight: 300;
	margin-top: 55px;
	word-break: keep-all;
}
@media screen and (max-width: 600px) {
	.br {display: none !important;}
}
@media screen and (max-width: 460px) {
	.section-3 .mobile {
		margin-left: auto;
		margin-right: auto;
	}
}
.sec-type-1-img {
	text-align: center;
	margin: 0 auto;
	font-size: 0;
}
.sec-type-1-img img {max-width: 100%;}
.sec-type-1-link {margin-top: 45px;	text-align: right;}
.sec-type-1-link a {
	color: #999;
	border-bottom: 1px solid #999;
}
.section-1 {
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
}

.sub-catelist {padding: 40px 0;}
.prj-catelist {height: 23px;}
.prj-catelist > li {
	float: left;
	padding: 0 20px;
	border-left: 1px solid #000;
	font-size: 18px;
	color: #666;
}
.prj-catelist > li:first-child {
	padding-left: 0;
	border-left: 0;
}
.prj-catelist > li a.underline {color: #000; font-weight: 500;}

.section-type-2 {padding-bottom: 90px;}
.section-type-2 h2 {
	font-size: 21px;
	font-weight: 700;
	padding-bottom: 10px;
}
.section-type-2 h4 {margin: 0 0 20px;}
.section-type-2 li {margin-top: 60px; font-size: 0;}
.sec-type-2-img {
	padding: 0 70px;
	position: relative;
	display: inline-block;
}
.sec-type-2-img img {width: 100%; max-width: 140px;}
.sec-type-2-img span {
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 17px;
	background-size: 17px;
	background-repeat: no-repeat;
}
.no-1 {background-image: url('/img/icon/no-01.png');}
.no-2 {background-image: url('/img/icon/no-02.png');}
.no-3 {background-image: url('/img/icon/no-03.png');}
.sec-type-2-txt {
	display: inline-block;
	max-width: 560px;
	line-height: 1.6;
}
.sec-type-2-txt h4 {font-weight: 500;}
.sec-type-2-img, .sec-type-2-txt {
	font-size: 18px;
	vertical-align: top;
}
@media screen and (max-width: 1023px) {
	.section-type-1 h2 {
		font-size: 24px;
		line-height: 1.4;
		font-weight: 400;
	}
	.section-type-1 p {
		font-size: 16px;
		line-height: 1.6;
		margin-top: 50px;
		width: auto;
		word-break: normal;
	}
	.sec-type-1-link a {font-size: 15px;}
	.sec-type-2-img, .sec-type-2-txt {
		display: block;
		text-align: center;
	}
	.sec-type-2-img {padding: 0;}
	.sec-type-2-txt {
		max-width: initial;
		margin-top: 50px;
	}
}